@use "/src/styles/typography.scss";

.sectionTitleContainer {
  display: grid;
  grid-template-columns: 44px auto 44px;
  grid-template-rows: 44px;
  align-items: center;
  gap: 4px;
}
.sectionTitleContainer {
}
.sidebarSectionContent {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}
.sidebarIcon {
  padding: 8px;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 20px;
}
.sectionContainer {
  background-color: var(--color-primary-layer-1);
  border-radius: var(--radius-default);
}
